Repository actuarysailor/pre-commit-readme-generator: changes, and which pre-commit hooks are due for each by the changed paths.
All: readme-generator-test, readme-generator-validate

readme-generator-test:
  name: README Generator Test
  entry: node src/test.js
  language: node
  pass_filenames: false
  additional_dependencies:
  - handlebars@^4.7.8

readme-generator-validate:
  name: README Generator Validate
  entry: node src/validate.js
  language: node
  pass_filenames: false
  additional_dependencies:
  - handlebars@^4.7.8

fix: Prevent linting from causing errors on examples
  .pre-commit-config.yaml
  src/generator.js
Due: readme-generator-test, readme-generator-validate

fix: Validation of config files
  .pre-commit-config.yaml
  scripts/test-integration.js
  src/test.js
Due: readme-generator-test, readme-generator-validate

fix: Exclude markdown lint from looking at examples
  .pre-commit-config.yaml
Due: none

fix: remove prepare/prepack scripts and improve release workflow for cross-platform compatibility
  .github/workflows/release.yml
  package.json
Due: readme-generator-test

refactor: clean up unused scripts and update pre-commit hooks for new generate/validate pattern
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
  config/readme-config.json
  examples/test-integration-enterprise-api.md
  examples/test-integration-minimal.md
  examples/test-integration-python-datascience.md
  examples/test-integration-simple.md
  scripts/skip-in-ci.js
  scripts/test-integration.js
  src/generator.js
  src/test.js
  src/validate-file.js
  src/validate.js
Due: readme-generator-test, readme-generator-validate

chore: Improved Linting issues
  .pre-commit-config.yaml
  examples/test-integration-minimal.md
  examples/test-integration-python-datascience.md
  examples/test-integration-simple.md
  src/generator.js
  templates/default.hbs
Due: readme-generator-test, readme-generator-validate

fix!: Additional linting cleanup
  examples/test-integration-minimal.md
  examples/test-integration-simple.md
  src/generator.js
Due: readme-generator-test, readme-generator-validate

chore: Added .gitattributes file
  .gitattributes
Due: none

refactor(generator)!: unify comment stripping and output logic for consistent README generation (#31)
  .gitattributes
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
  config/readme-config.json
  examples/test-integration-enterprise-api.md
  examples/test-integration-minimal.md
  examples/test-integration-python-datascience.md
  examples/test-integration-simple.md
  scripts/skip-in-ci.js
  scripts/test-integration.js
  src/generator.js
  src/test.js
  src/validate-file.js
  src/validate.js
  templates/default.hbs
Due: readme-generator-test, readme-generator-validate

fix: Use CLI in hooks
  .pre-commit-hooks.yaml
  src/generator.js
Due: readme-generator-test, readme-generator-validate

fix: Cleaned up error messaging
  src/generator.js
Due: readme-generator-test, readme-generator-validate

feat: Redo Initial Release
  .release-please-manifest.json
  CHANGELOG.md
  README.md
  config/readme-config.json
  package-lock.json
  package.json
Due: readme-generator-test, readme-generator-validate

fix: Release please to auto update readme
  .release-please-config.json
Due: readme-generator-test

fix: Release logic
  .github/workflows/release.yml
Due: none

fix: Add Code QL Workflow
  .github/workflows/codeql.yml
Due: none

Update src/generator.js
  src/generator.js
Due: readme-generator-test, readme-generator-validate

fix: Use CLI in hooks (#34)
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .pre-commit-hooks.yaml
  .release-please-config.json
  .release-please-manifest.json
  CHANGELOG.md
  README.md
  config/readme-config.json
  package-lock.json
  package.json
  src/generator.js
Due: readme-generator-test, readme-generator-validate

Path conditions:
  readme-generator-test: any of: \.(js|json|hbs|md)$
  readme-generator-validate: any of: ^(config/|templates/|src/).*$
